<div id = "head" >
	<h2>TASKED </h2>
	</div>
	<div class="login">
		<p> Login below or sign up! </p>
	<%= form_for("user", :url => user_session_path) do |f| %>
	  <p> Email:    <span><%= f.text_field :email %> </span></p>
	  <p> Password: <%= f.password_field :password %> </p>
	<% end %>
	</div>