<script type="text/javascript">
  $('.entry').live("click", function(){
    
  });

  $('#rating').raty();


</script>
 <div id = "taskhome">

<!-- Displays notes only if user is signed in -->
<% if user_signed_in? %> 
    <!-- Rendering partial for new note creation -->
	<%= render "new_note" %>
	<div id = "notes">
	<!-- Rendering partial for note display -->
		<%= render "note_body" %>
	</div>
	</div>
<% else %>
<!-- Otherwise, user must register or sign in. -->
	<%= render "loggedin" %>
<% end %>
</div>
