body{
	margin-right: 80px;
	background-color: #ECF0F1;
	margin-top: 20px;
}

#message{
	text-align: center;
	padding-bottom: 20px;
	font-size: 26px;
}
#taskhome{
	margin-left: 100px;
}

#head{
	padding-top: 20px;
	margin-left: 220px;
	font-size: 60px;

}
.trash{
	float: right;
	font-size: 10px;
	padding: 5px;
	height: auto;
	display: inline;
}
.star{
	float: left;
}
.entry{
	margin-left: 220px;
	padding: 30px;

	width: 400px;
	height: auto;
	background-color: #2C3E50;
	margin-bottom: 20px;
	border-radius: 5px;
	color: #ECF0F1;
	font-size: 16px;
	text-align: center;
}

.field{
	width: 420px;
	padding:20px;
}
.note{
	margin-top: 20px;
}
.notebody{
	margin-top: 50px;

}
#navbar{
	text-align: right;
	padding: 0px;
}
.form{
	margin-left: 100px;
}
.login{
	padding-top: 20px;
	margin-left:30%;
	background-color: #34495E;
	border-radius: 5px;
	height:10px;
	width: 300px;
}
.login span{
	margin-left: 22px;
}
.create{
	margin-top: 20px;
	margin-left: 200px;
	margin-bottom: -50px;
}